html,
body,
.container {
  font-size: 2vh;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: sans;
}

#about {
  margin: 0rem 2rem;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  font-family: sans;
  text-align: justify;
}

.mono {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0.5rem 0rem;
}

.at::before {
  content: '@';
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
